body{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(160, 160, 160);
    flex-wrap: wrap;
    
}   

.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:70%;
    height:70%;
    border:  2px  outset gray
}
.signup-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:70%;
    height:70%;
    border:  2px  outset gray
}

.login-header {
    display: flex;
    justify-content: center;
    width:100%;

    color: white;

}
.button {
    text-align: center;
}
.login {
    text-align: center;
}
p {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-left: -20%;
}
.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right:20%;
    margin-left:20%;

}
.signup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
   
}
.red-text {
    color: red;
    margin-left: 35%;
    margin-top:-3%; 

    text-align:center;
}
.signup-p {
    margin-left: 0%;
}
.box{
    
    background-color: white;
    width:90%;
    height:90%;
    border:  2px  outset gray
}

.navbar{
   height:20%;
}

.workorder {
    margin-left: 10%;
    margin-right: 10%;
}

#work_img {
    width:30%;
    height:30%;
}
#comment-form{
    width:50%;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#work-btn{
    margin-top: 5%;
    width:100%;
}
.pagination{
    position: fixed;
}

#main-btn{
    width:25%;
}
