{% extends 'base.html' %}


{% block content %}

<div class="login-box">
  <div >
    
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
    <h1 class="login">Resident Portal</h1><br>
    <div class="form">
      {{form}}
    </div><br>
      
<div class="button">
  <input  type="submit" class="btn btn-primary" value="login">
  <input type="hidden" name="next" value="{{ next }}"><br><br>
  <a href="{% url 'signup' %}">Create an account</a>
</div>
    </form>

  </div>
</div>
{% endblock %}