{% extends 'base.html' %}

{% block content %}


{% if request.user.is_superuser %}
<div><br>
  <h1 class="login">Work Order</h1><br>
  <div class="workorder">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_table}}
      {% for value, text in form.fields.status.choices %}
      <option value="{{ value }}">{{ text }}</option>
      {% endfor %}
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>

  </div>
</div>
{% else %}
<div><br>
  <h1 class="login">Work Order</h1><br>
  <div class="workorder">
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table}}
      </table>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>

  </div>
</div>
{%endif%}


{% endblock %}