{% extends 'base.html' %}


{% block content %}

{% if request.user.is_superuser %}
<div class="row">
    <div class="col s4">
        <h5>Quick Links</h5>
        <a href="{% url 'maintenance' %}">View Work Orders</a><br>
        <a href="{% url 'workorder_create' %}">Messages</a><br>
        <h5>My Account</h5>
        <a href="{% url 'profile_update' profile.id%}">Edit My Account</a><br>
    </div>
    <div class="col s8">
      
        <h5><span style="color:red;">{{profile.full_name}}</span></h5>

    </div>
  </div>
{%else%}
<div class="row">
    <div class="col s4">
        <h5>Quick Links</h5>
        <a href="{% url 'maintenance' %}">View Work Orders</a><br>
        <a href="{% url 'workorder_create' %}">Submit Work Order</a><br>
        <h5>My Account</h5>
        <a href="{% url 'profile_update' profile.id%}">Edit My Account</a><br>
    </div>
    <div class="col s8">
      
        <h5>Hello, <span style="color:red;">{{profile.full_name}}</span></h5>
    </div>
  </div>
  {%endif%}





{% endblock %}