{% extends 'base.html' %}


{% block content %}

         
<br>
<a href="{% url 'workorder_create' %} "class="waves-effect waves-light btn-large"><i class="material-icons right">build</i>Submit a work order</a>



 <table>
        <thead>
          <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Status</th>
          </tr>
        </thead>

        <tbody>
        {% for work in work_orders %}
          <tr>
            <td>{{work.title}}</td>
            <td>{{work.description}}</td>
            <td>{{work.get_status_display}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>




{% endblock %}