{% extends 'base.html' %}


{% block content %}


{% if request.user.is_superuser %}
<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
  </thead>

  <tbody>
  {% for work in work %}
   <tr> 
    <td><a href="{%url 'work_order_details' work.id %}">{{work.title}}</a></td> 
    <td>{{work.description}}</td>
    <td>{{work.get_status_display}}</td>
 </tr>
    {% endfor %}
  </tbody>
</table>
{% if work.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ work.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in work.paginator.page_range %}
      {% if work.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only"></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ work.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
      
{%else%}

<br>
<a href="{% url 'workorder_create' %} "class="waves-effect waves-light btn-large"><i class="material-icons right">build</i>Submit Work Order</a>
<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
  </thead>

  <tbody>
  {% for work in work_orders %}
   <tr> 
    <td><a href="{%url 'work_order_details' work.id %}">{{work.title}}</a></td> 
    <td>{{work.description}}</td>
    <td>{{work.get_status_display}}</td>
 </tr>
    {% endfor %}
  </tbody>
</table>

{%endif%}




{% endblock %}